.img-error{
  margin-top: 5em;
}
.right{
  text-align:right;
}
.left{
  text-align:left;
}
.middle img{
  height: 140px;
}
.right img, .left img{
  height: 120px;
}
@media (max-width: 1199px) {
  .mu-main-navbar .mu-main-nav li a {
    padding-left: 10px;
    padding-right: 10px;
  }

  #mu-slider .mu-slider-area .mu-top-slider .mu-top-slider-single img {
    width: auto;
  }

  #mu-subscription .mu-subscription-area {
    padding: 0 50px;
  }

  #mu-chef .mu-chef-area .mu-chef-content .mu-chef-nav .slick-list li .mu-single-chef .mu-single-chef-social {
    padding: 23px 10px;
  }

  #mu-blog-banner .mu-blog-banner-area {
    min-height: 300px;
  }
}
@media (max-width: 991px) {
  .mu-main-navbar .mu-main-nav li a {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
  }

  .mu-main-navbar .navbar-header .navbar-brand {
    /*height: 35px;
    width: 55px;*/
  }

  .mu-main-navbar .navbar-header .navbar-brand-small {
    /*height: 25px;*/
    margin-top: 13px;
    /*width: 55px;*/
  }

  .mu-abtus-slider .slick-slide img {
    display: block;
    width: 100%;
  }

  #mu-subscription .mu-subscription-area {
    padding: 0 5%;
  }

  #mu-subscription .mu-subscription-area .mu-subscription-form input[type="text"] {
    width: 70%;
  }

  #mu-contact .mu-contact-area .mu-contact-content .mu-contact-right {
    margin-top: 50px;
    padding: 0;
  }

  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-img {
    height: 200px;
  }

  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-info {
    padding-top: 32.3%;
  }

  #mu-client-testimonial .mu-client-testimonial-area .mu-testimonial-content .mu-testimonial-slider li .mu-testimonial-single {
    padding: 0 60px;
  }

  #mu-client-testimonial .mu-client-testimonial-area .mu-testimonial-content .mu-testimonial-slider li .mu-testimonial-single .mu-testimonial-info p::before {
    top: 40%;
  }

  #mu-latest-news .mu-latest-news-area .mu-latest-news-content .mu-news-single {
    margin-top: 25px;
  }

  #mu-counter .mu-counter-overlay .mu-counter-area .mu-counter-nav li .mu-single-counter p {
    font-size: 15px;
  }

  #mu-blog-banner .mu-blog-banner-area {
    min-height: 250px;
  }

  #mu-error .mu-error-area p {
    padding: 0 30px;
  }

  #mu-error .mu-error-area {
    margin-top: 0;
    padding: 50px 100px 80px;
  }
}
@media (max-width: 767px) {
  .navbar-default .navbar-toggle {
    border-color: #fff;
    border-radius: 0px;
  }

  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #fff;
  }

  .mu-main-navbar .mu-main-nav {
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: #fff;
  }

  #mu-counter .mu-counter-overlay .mu-counter-area .mu-counter-nav li {
    margin-top: 10px;
    margin-bottom: 10px;
    border-right: none;
  }

  #mu-blog-banner .mu-blog-banner-area {
    min-height: 275px;
  }

  #mu-blog .mu-blog-area .mu-blog-sidebar {
    margin-top: 50px;
  }

  #mu-blog .mu-blog-area .mu-blog-sidebar .mu-blog-sidebar-single .mu-sidebar-add img {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .navbar-default .navbar-toggle {
    border-color: #fff;
    border-radius: 0px;
  }

  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #fff;
  }

  #mu-slider .mu-slider-area .mu-top-slider .mu-top-slider-single .mu-top-slider-content .mu-slider-title {
    font-size: 50px;
    line-height: 75px;
  }

  .mu-main-navbar .mu-main-nav {
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
  }

  .mu-main-navbar .mu-main-nav li a {
    font-size: 18px;
  }

  #mu-reservation .mu-reservation-area .mu-reservation-content {
    padding: 0 50px;
  }

  #mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-restaurant-menu li a {
    font-size: 16px;
    margin: 0 5px;
  }

  #mu-reservation .mu-reservation-area .mu-reservation-content p {
    padding: 0;
  }

  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-top ul li {
    margin: 0 5px;
  }

  #mu-subscription .mu-subscription-area .mu-subscription-form input[type="text"] {
    width: 65%;
  }

  #mu-subscription .mu-subscription-area .mu-subscription-form .mu-readmore-btn {
    width: 30%;
  }

  #mu-chef .mu-chef-area .mu-chef-content .mu-chef-nav .slick-list li .mu-single-chef .mu-single-chef-social a {
    margin: 0 3px;
    padding: 3px 0;
    width: 30px;
  }

  #mu-blog-banner .mu-blog-banner-area {
    min-height: 220px;
  }
}
